/* use viewport-relative units */
body {
    height: 100vh;
    background-color: #b1bed5; /* Light Blue */
    border-radius: 1rem;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
}

button {
    font-family: Helvetica;
    font-size: 1em;
    color: #EEEEEE;
    background-image:linear-gradient(70deg,#4B79A1,#283E51); /* Dark Sky Gradient */
    /*border: 2px solid #283E51; /* Blue */
    border-radius: 1rem;
    margin-top: 1em;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#timer {
    font-family: digital-7;
    font-size: 7em;
    line-height: normal;
    overflow: hidden;
    background-image:linear-gradient(70deg,#4B79A1,#283E51); /* Dark Sky Gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
}

#label {
    font-family: Helvetica;
    font-weight: bold;
}

#stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: Helvetica;
    font-size: 0.8em;
}

@font-face{
    font-family: 'digital-7'; 
    src: url('./fonts/digital-7.ttf');
}